* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -0.35px;
}

/* Adds grey rectangle to album items */
.section--body--item {
    width: 200px;
    height: 300px;
    background-color: var(--musicbox-color);
    border-radius: 10px;
}

    /* Adds padding to song container and changes cursor*/
    .section--body--item.team--item {
        padding: 25px 25px 0px 25px;
        position: relative;
        cursor: default;
    }

    /* Creates fixed size for the album covers */
    .section--body--item .section--body--item--img {
        margin: 0 auto;
        transition: all .3s ease-in-out;
    }

        /* Ensures constistent image size & adds shading */
        .section--body--item .section--body--item--img img {
            width: 150px;
            height: 150px;
            box-shadow: 0 10px 30px 0 rgba(0,0,0,.3), 0 1px 2px 0 rgba(0,0,0,.2);
        }

/* Animation on album cover hover */
.section--body--item--img:hover {
    transform: scale(1.1, 1.1);
}


/* Formats song card title */
.section--body--item--title {
    margin-top: 1rem;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 0.9rem;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
    color: var(--title-color)
}

/* Formats song card subtitle */
.section--body--item--subtitle {
    margin: 0;
    margin-top: 1px;
    color: var(--subtitle-color);
    font-size: 0.85rem;
}

.socials{
    height: 30px;
    width: 150px;
    position: absolute;
    bottom: 10px;
    text-align: center;
}

.social--icon{
    height: 30px;
    margin: 0 5px;
}
