html {
    font-size: 16px;
}

body {
    margin: 0;
    color: #fff;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -0.35px;
}

.sidebar {
    background-color: rgba(4, 4, 4);
    padding: 24px 24px 0 24px;
    position: fixed;
    height: 100%;
    width: 230px;
}

.sidebar .brand {
    padding-bottom: 18px;
}

.sidebar .brand img {
    width: 131px;
}

.sidebar .menu .menu--item {
    font-size: 1.5rem;
    position: relative;
}

.sidebar .menu.menu-extra .menu--item:not(:first-child) {
    margin-top: 5px;
}

.sidebar .menu .menu--item a,
.sidebar .sidebar--download-app a {
    text-decoration: none;
    color: #B3B3B3;
    width: 100%;
    display: flex;
    align-items: center;
    height: 40px;
    transition: all 350ms;
}

/* creating hover effect (3 down)*/
.sidebar .menu.menu-extra .menu--item a img {
    opacity: 0.7;
    transition: all 350ms;
}

.sidebar .menu.menu-extra .menu--item:hover a img {
    opacity: 1;
}

.sidebar .menu .menu--item.active a,
.sidebar .menu .menu--item:hover a,
.sidebar .sidebar--download-app:hover a {
    color: #fff;
}

/* Active state of the menu  item, adds a background color to the element */
.sidebar .menu .menu--item.active:before {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    left: -16px; /* -(Sidebar's padding left) + 8px */
    right: -16px; /* -(Sidebar's padding left) + 8px */
    background: rgb(40, 40, 40);
    z-index: -1;
    border-radius: 5px;
}

.menu--item--text,
.sidebar--download-app a span {
    font-size: 0.88rem;
    font-weight: 700;
    margin-left: 15px;
}

.sidebar--header {
    margin-top: 1.5rem;
    margin-bottom: 1.3rem;
    font-size: 0.68rem;
    letter-spacing: 1.5px;
    color: #B3B3B3;
}

.sidebar .separator {
    height: 1px;
    width: 100%;
    border-top: 1px solid #303030;
    margin-top: 16px;
}

.sidebar .menu.menu-playlist .menu--item--text {
    font-weight: 400;
    margin-left: 0;
    /*
        Add ellipsis when the text is bigger than the width of the sidebar
        Read more: https://developer.mozilla.org/en-US/docs/Web/CSS/text-overflow
    */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.sidebar .sidebar--header, .sidebar .menu.menu-playlist a {
    cursor: default;
}


.sidebar--download-app {
    position: absolute;
    bottom: 0;
}

/* TOGGLE BUTTON needs to be added somewhere in the header below
1. create html 
2. then alter css 
*/

.brightnessButton {
    position: fixed;
    top: 10px;
    right: 10px;
    display: inline-block;
    width: 60px;
    height: 34px;
    float: right;
}

.brightnessButton input {
    display: none;
}

.brightnessButton .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: .4s;
}

.brightnessButton .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: .4s;
}

input:checked + .slider {
    background-color: #333333;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.header--button {
    background: rgb(7, 7, 7);
    color: #fff;
    border: 0;
    border-radius: 50%;
    height: 34px;
    width: 34px;
    cursor: pointer;
    outline: 0;
}

.header--button.previous {
    margin-right: 0.5rem;
}

.header {
    position: fixed;
    top: 0;
    left: 230px; /* sidebar width */
    right: 0;
    height: 60px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    justify-content: flex-start; /* change when you add theme slider*/
    align-items: center;
    background-color: rgb(18, 18, 18);
}

/* Styling main content area*/
body main main {
    padding: 80px 32px 32px 262px;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    background-color: rgb(18, 18, 18);
}

/* Customizing scrollbar (3 down)*/
body main main::-webkit-scrollbar {
    width: 16px;
}

body main main::-webkit-scrollbar-thumb {
    background-color: #909090;
}

body main main::-webkit-scrollbar-track {
    background-color: rgb(18, 18, 18);
}

/* Aligning Songs within their section*/
.section--body {
    display: flex;
    justify-content: left;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 1em;
}

/* Adds grey rectangle to album items */
.section--body--item {
    width: 165px;
    height: 240px;
    background-color: rgb(38, 38, 38);
}

/* Adds padding to song container and changes cursor*/
.section--body--item.song--item {
    padding: 20px;
    cursor: default;
}

/* Creates fixed size for the album covers */
.section--body--item .section--body--item--img {
    width: 125px;
    height: 125px;
    margin: 0 auto;
}

/* Ensures constistent image size & adds shading */
.section--body--item .section--body--item--img img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 10px 30px 0 rgba(0,0,0,.3), 0 1px 2px 0 rgba(0,0,0,.2);
}

/* Formats song card title */
.section--body--item--title {
    margin-top: 1rem;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 0.9rem;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}

/* Formats song card subtitle */
.section--body--item--subtitle {
    margin: 0;
    margin-top: 1px;
    color: #b3b3b3;
    font-size: 0.8rem;
}