@using System.Text.Json;
@using System.Collections.ObjectModel
@using System.ComponentModel
@using Blazored.LocalStorage
@using Blazored.LocalStorage.StorageOptions
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage

<div class="menu likes">
    @foreach(Song song in likedSongs)
    {
        <div class="menu--item">
        <a @onclick="() => PublishMqtt(song.Id)">
            <img src="res/album_thumbnail/@song.Image" alt="@song.Title">
            <span class="menu--item--text">@song.Title</span>
        </a>
    </div>
    }
</div>

@code {
    public static List<Song> likedSongs { get; set; } = new List<Song>();
    public string topic { get; set; } = "music";


    protected override void OnInitialized()
    {
        DeserializeSongs();
    }

    public void AddSong(Song song, ISyncLocalStorageService storage)
    {
        likedSongs.Add(song);
        SerializeSongs(storage);
    }

    public void RemoveSong(Song song, ISyncLocalStorageService storage)
    {
        likedSongs.Remove(song);
        SerializeSongs(storage);
    }

    public void SerializeSongs(ISyncLocalStorageService storage)
    {
        string json = JsonSerializer.Serialize(likedSongs);
        storage.SetItem("liked", json);
    }

    public bool ContainsSong(Song song)
    {
        if (likedSongs.Contains(song))
        {
            return true;
        }
        else
        {
            return false;
        }
    }

    public void DeserializeSongs()
    {
        if (localStorage.ContainKey("liked"))
        {
            string readStorage = localStorage.GetItem<string>("liked");
            likedSongs = JsonSerializer.Deserialize<List<Song>>(readStorage);
        }
    }

    //Publishing a MQTT message
    protected void PublishMqtt(string message)
    {
        _ = MqttConnection.GetInstance().PublishMessage(topic, message);
    }
}
