@using System.Text.Json;
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage

<div class="menu likes">
    @foreach(Song song in likedSongs)
    {
        <div class="menu--item">
        <a @onclick="() => PublishMqtt(song.Id)">
            <img src="res/album_thumbnail/@song.Image" alt="@song.Title">
            <span class="menu--item--text">@song.Title</span>
        </a>
    </div>
    }
</div>

@code {
    public static List<Song> likedSongs { get; set; } = new List<Song>();
    public string topic { get; set; } = "music";


    protected override async Task OnInitializedAsync()
    {
        if (localStorage.ContainKey("liked"))
        {
            string readStorage = localStorage.GetItem<string>("liked");
            likedSongs = JsonSerializer.Deserialize<List<Song>>(readStorage);
        }
    }

    //Publishing a MQTT message
    protected void PublishMqtt(string message)
    {
        _ = MqttConnection.GetInstance().PublishMessage(topic, message);
    }
}
