@page
@model IndexModel;
@{
    ViewData["Title"] = "Home page";
}

<head>
    <!--
        To link a css file, do as it follows:
        <link rel="stylesheet" href="/css/file_name.css"/>
        -->
    <link rel="stylesheet" href="css/index-style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap">
    <!-- Imports jquery library -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <!-- Imports ajaxTest file under the wwwroot/js folder -->
    <script type="text/javascript" src="/js/ajaxTest.js"></script>
    
</head>
<body>
    <nav class="centerbar">
        <div class="container">
            <a asp-page="/SoundBoard">
                <img id="boombox-icon" src="res/Boombox.svg" alt="boombox icon">
            </a>
            <a asp-page="/WioBoard">
                <img id="computer-icon" src="res/Computer.svg" alt="computer icon">
            </a>
        </div>
    </nav>
</body>
