@page
@model WioBoardModel;
@{
    ViewData["Title"] = "WioBoard";
}

<head>
    @* <link rel="stylesheet" href="/css/site.css"/> *@
    @* You can add the css files here *@
</head>

<div class="center">
    <h1 class="display-4">WioBoard</h1>
    <p><a asp-page="/Index">Go to Main Page</a></p>
</div>
