@page
@model WioBoardModel;
@{
    ViewData["Title"] = "WioBoard";
}

<head>
    @* <link rel="stylesheet" href="/css/site.css"/> *@
    @* You can add the css files here *@
    <!-- Imports jquery library -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <!-- Imports ajaxTest file under the wwwroot/js folder -->
    <script type="text/javascript" src="/js/ajaxMqtt.js"></script>
</head>

<div class="center">
    <h1 class="display-4">WioBoard</h1>
    <p><a asp-page="/Index">Go to Main Page</a></p>
</div>
