@page "/"

<PageTitle>Index</PageTitle>

<h1>Hi there</h1>

<nav class="centerbar">
    <div class="container">
        <a href="/SoundBoard">
            <img id="boombox-icon" src="res/Boombox.svg" alt="boombox icon">
        </a>
        <a href="/WioBoard">
            <img id="computer-icon" src="res/Computer.svg" alt="computer icon">
        </a>
    </div>
</nav>
