@page "/WioBoard"

<div class="center">
    <h1 class="h1-test">WioBoard</h1>
    <p><a href="/">Go to Main Page</a></p>
    <p>MQTT Reply: @mqttReply</p>
</div>

@code {

    private string mqttReply;

    private async Task SubscribeToMqtt()
    {
        var mqttConnection = MqttConnection.GetInstance();
        await mqttConnection.Subscribe("sound");

        while (true)
        {
            mqttReply = mqttConnection.Reply;
            StateHasChanged();
            await Task.Delay(100);
        }
    }

    //This function will run on page load
    protected override async Task OnInitializedAsync()
    {
        //Subsribing to a MQTT topic
        await SubscribeToMqtt();
    }
}