@page "/AboutUs"
@inject HttpClient HttpClient
@inject NavigationManager nav

<div id="body-wrapper">
    <div class="header">
        <div class="header--bg"></div>
        <div class="header--buttons">
            <a href="/" id="chevron">
                <button class="header--button previous" id="home" @onclick="NavigateToMainPage">
                    <b>&lt</b>
                </button>
            </a>
        </div>
    </div>
    <main>
        <section class="profiles">
            <div class="profiles-header">
                <!-- Just a brief explanation of who we are -->
                <h2 class="title">We are Group 12</h2>
            </div>
        <div class="profiles-body">
                <MemberComponent 
                    Name="Adrian Hassa" 
                    Photo="adrian.jpg"
                    Description="Be crime, do gay"
                    Twitter="Adikowskyyy"
                    Github="Adrian2901"
                    Linkedin="adrian-hassa"/>

                <MemberComponent 
                    Name="Arvin Rahimi" 
                    Photo="arvin.jpg"
                    Description="if (pleaseWork(true)) { grade = 5; } else{ justQuit() }"
                    Instagram="_aspanix_"
                    Github="Aspanix"/>

                <MemberComponent 
                    Name="David Boram Hong" 
                    Photo="david.jpg"
                    Description="Thanks for the inspiration Spotify, but now we'll take your spot!!"
                    Instagram="davidhong521"/>

                <MemberComponent 
                    Name="Ionel Pop" 
                    Photo="ionel.png"
                    Description="''Don't quote me on this''" 
                    Youtube="MultsElMesco"
                    Github="IonelPopJara"
                    Linkedin="ionel-pop-jara"/>

                <MemberComponent 
                    Name="Marko Mojsov" 
                    Photo="marko.png"
                    Description="Revert 'Revert 'Merge branch 'subscribe-protocol-wio' into 'main'''" 
                    Linkedin="marko-mojsov"
                    Instagram="markomojsov"/>

                <MemberComponent 
                    Name="Teo Portase" 
                    Photo="teo.jpeg"
                    Description="''Something witty and impressive, I guess''" 
                    Linkedin="teoportase"/>

        </div>
    </section>
    </main>
</div>

@code{
    private void NavigateToMainPage()
    {
        nav.NavigateTo("/");
    }
}