@page "/AboutUs"
@using Team
@inject HttpClient HttpClient
@inject IJSRuntime JSRuntime

<head>
    <!-- Imports icons -->
    <link rel="stylesheet" href="https://cdn.lineicons.com/4.0/lineicons.css" />
</head>

<div id="body-wrapper">
    <div class="header">
        <div class="header--bg"></div>
        <div class="header--buttons">
            <a href="/">
                <button class="header--button previous">
                    <i class="lni lni-chevron-left"></i>
                </button>
            </a>
        </div>
    </div>
    <main>
        <section class="profiles">
            <div class="profiles-header">
                <!-- Just a brief explanation of who we are -->
                <h2 class="title">We are Group 12</h2>
            </div>
        <div class="profiles-body">
                <MemberComponent 
                    Name="Adrian Hassa" 
                    Photo="adrian.jpg"
                    Description="Lorem ipsum" />

                <MemberComponent 
                    Name="Arvin Rahimi" 
                    Photo="adrian.jpg"
                    Description="Lorem ipsum" />

                <MemberComponent 
                    Name="David Boram Hong" 
                    Photo="adrian.jpg"
                    Description="Lorem ipsum" />

                <MemberComponent 
                    Name="Ionel" 
                    Photo="adrian.jpg"
                    Description="Lorem ipsum" />

                <MemberComponent 
                    Name="Marko Mojsov" 
                    Photo="adrian.jpg"
                    Description="Lorem ipsum" />

                <MemberComponent 
                    Name="Teo Portase" 
                    Photo="adrian.jpg"
                    Description="Lorem ipsum" />

        </div>
    </section>
    </main>
      
</div>