@page "/AboutUs"
@using Team
@inject HttpClient HttpClient
@inject IJSRuntime JSRuntime

<head>
    <!-- Imports icons -->
    <link rel="stylesheet" href="https://cdn.lineicons.com/4.0/lineicons.css" />
</head>

<div id="body-wrapper">
    <div class="header">
        <div class="header--bg"></div>
        <div class="header--buttons">
            <a href="/">
                <button class="header--button previous">
                    <i class="lni lni-chevron-left"></i>
                </button>
            </a>
        </div>
    </div>
    <main>
        <section class="profiles">
            <div class="profiles-header">
                <!-- Just a brief explanation of who we are -->
                <h2 class="title">We are Group 12</h2>
            </div>
        <div class="profiles-body">
                <MemberComponent 
                    Name="Adrian Hassa" 
                    Photo="adrian.jpg"
                    Description="Lorem ipsum"
                    Twitter="Adikowskyyy"
                    Github="Adrian2901"
                    Linkedin="adrian-hassa"/>

                <MemberComponent 
                    Name="Arvin Rahimi" 
                    Photo="arvin.jpg"
                    Description="Lorem ipsum"
                    Instagram="_aspanix_"
                    Github="Aspanix"/>

                <MemberComponent 
                    Name="David Boram Hong" 
                    Photo="david.jpg"
                    Description="Lorem ipsum" />

                <MemberComponent 
                    Name="Ionel Pop" 
                    Photo="ionel.png"
                    Description="Lorem ipsum" 
                    Youtube="Mults"
                    Github="IonelPopJara"
                    Linkedin="ionel-pop-jara"/>

                <MemberComponent 
                    Name="Marko Mojsov" 
                    Photo="marko.png"
                    Description="Lorem ipsum" 
                    Linkedin="marko-mojsov"
                    Instagram="markomojsov"/>

                <MemberComponent 
                    Name="Teo Portase" 
                    Photo="teo.jpeg"
                    Description="Lorem ipsum" 
                    Linkedin="teoportase"/>

        </div>
    </section>
    </main>
      
</div>