@page "/"
@inject NavigationManager nav

<PageTitle>Index</PageTitle>

<nav class="centerbar">
    <div class="container">
        <input type="image" id="boombox-icon" src="res/Boombox.svg" alt="boombox icon" @onclick="NavButtonClicked" />
    </div>
</nav>

@code{
    private void NavButtonClicked()
    {
        nav.NavigateTo("Information");
    }
}