/*TODO: remove this file*/

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -0.35px;
}

.container {
    max-width: 1536px;
    width: 100%;
    margin: 0 auto;
    padding: 0.5em;
    /* positioning in center relative to page size*/
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    /* spacing & alignment (enabling responsiveness)*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
    align-content: center;
    gap: 1em;
}

/* max-width helps with responsiveness (stops img overflow) */
#boombox-icon {
    width: 450px;
    max-width: 100%;
}

#computer-icon {
    max-width: 100%;
}

/* 2xl */
@media (max-width: 1536px) {
    .container {
        max-width: 1280px;
    }
}

/* xl */
@media (max-width: 1280px) {
    .container {
        max-width: 1024px;
    }
}

/* lg */
@media (max-width: 1024px) {
    .container {
        max-width: 768px;
    }
}

/* md */
@media (max-width: 768px) {
    .container {
        max-width: 640px;
    }
}

/* sm */
@media (max-width: 640px) {
    .container {
        max-width: 475px;
    }
}

/* xs */
@media (max-width: 475px) {
    .container {
        width: 100%;
    }
}
