@page "/";

<head>
    <!-- Imports page-specific .css file -->
    <link rel="stylesheet" href="css/index-style.css">
    <!-- Imports text font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap">

</head>

<body>
    <nav class="centerbar">
        <div class="container">
            <a href="/SoundBoard">
                <img id="boombox-icon" src="res/Boombox.svg" alt="boombox icon">
            </a>
            <a href="/WioBoard">
                <img id="computer-icon" src="res/Computer.svg" alt="computer icon">
            </a>
        </div>
    </nav>

</body>


@code {

}
