@page "/Privacy"
@inject NavigationManager nav

<PageTitle>Privacy</PageTitle>

<div class="center">
    <h1>Privacy page!</h1>
    <img src="res/BeQuiet.jpg" class="privacy-img" alt="Shhhhhhh">
    <br />
    <button @onclick="NavigateToMainPage">
        Go back to the main page!
    </button>
</div>

@code{
    private void NavigateToMainPage()
    {
        nav.NavigateTo("/");
    }
}