@page "/SoundBoard"
@using Songs
@using Utils
@using System.Text.Json
@inject HttpClient HttpClient

<head>
    <!-- Imports page-specific .css file -->
    <link rel="stylesheet" href="css/soundboard-style.css" />
    <!-- Imports icons -->
    <link rel="stylesheet" href="https://cdn.lineicons.com/4.0/lineicons.css" />

</head>


<nav class="sidebar">
    <div class="brand">
        <img src="res/Boombox.svg" class="boombox-logo" alt="boombox icon">
    </div>
    <div class="menu">
        <div class="menu--item">
            <a href="#">
                <i class="lni lni-home"></i> <span class="menu--item--text">Home</span>
            </a>
        </div>
        <div class="menu--item">
            <a href="#">
                <i class="lni lni-search"></i> <span class="menu--item--text">Search</span>
            </a>
        </div>
        <div class="menu--item">
            <a href="#">
                <i class="lni lni-library"></i> <span class="menu--item--text">Library</span>
            </a>
        </div>
    </div>
    <p class="sidebar--header">PLAYLIST</p>
    <div class="menu menu-extra">
        <div class="menu--item">
            <a href="#">
                <img src="http://via.placeholder.com/32x32" alt="">
                <span class="menu--item--text">Create a playlist</span>
            </a>
        </div>
        <div class="menu--item">
            <a href="#">
                <img src="http://via.placeholder.com/32x32" alt="">
                <span class="menu--item--text">Songs that you like</span>
            </a>
        </div>
    </div>
    <div class="separator"></div>
    <div class="menu menu-playlist">
        <div class="menu--item">
            <a href="#">
                <span class="menu--item--text">Dev</span>
            </a>
        </div>
        <div class="menu--item">
            <a href="#">
                <span class="menu--item--text">That playlist that I really liked from the show</span>
            </a>
        </div>
    </div>
    <div class="sidebar--download-app">
        <a href="#">
            <i class="lni lni-arrow-down-circle"></i> <span>Install the app</span>
        </a>
    </div>
</nav>
<div class="header">
    <div class="header--bg"></div>
    <div class="header--buttons">
        <button class="header--button previous">
            <i class="lni lni-chevron-left"></i>
        </button>
        <button class="header--button next">
            <i class="lni lni-chevron-right"></i>
        </button>
    </div>
    <label class="brightnessButton">
        <input type="checkbox">
        <span class="slider"></span>
    </label>
</div>
<main>
    <div style="min-height: 200vh">
        <ul>
            @foreach (Album album in songLibrary.Albums){
                <h1>@album.name</h1>
                @foreach (Song song in album.songs){
                    <li>
                        <h4 @onclick="() => PublishMqtt(song.title)">@song.title</h4>
                        <p>Artist: @song.artist</p>
                    </li>
                }
            }
            
        </ul>
    </div>
</main>


@code {
    protected Library songLibrary = new Library();

    protected override async Task OnInitializedAsync()
    {
        HttpClient client = new HttpClient();
        songLibrary = await HttpClient.GetFromJsonAsync<Library>("/res/albums.json");
    }

    protected void PublishMqtt(string message)
    {
        _ = MqttConnection.Publish_Message(message);
    }
}