@page "/"
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage
@inject HttpClient HttpClient
@inject IJSRuntime JSRuntime

<head>
    <!-- Imports icons -->
    <link rel="stylesheet" href="https://cdn.lineicons.com/4.0/lineicons.css" />
</head>

<div id="body-wrapper">
    <nav class="sidebar">
        <div class="brand">
            <img src="res/Boombox.svg" class="boombox-logo" alt="boombox icon">
        </div>       
        <div class="separator"></div>
        <p class="sidebar--header" @onclick="ShowPopup">YOUR FAVOURITES</p>
        <LikedSongsComponent />
    </nav>
    <div class="header">
        <div class="header--bg"></div>
            <a>
                <label class="brightnessButton" for="checkbox">
                    <input type="checkbox" id="checkbox" @bind="themeSwitch" @oninput="ChangeTheme" />
                    <span class="slider"></span>
                </label>
            </a>
        <!-- Hamburger Button Implementation -->
        <div id="menu">
            <div class="@hamburgerToggle" @onclick="ToggleHamburger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <nav class="@navToggle" id="nav">
                <ul>          
                    <li><a>
                    <label class="check--container" for="auto--checkbox">
                        <span class="hamburger--text">AUTOMATIC THEME</span>
                        <input type="checkbox" name="auto--checkbox" @bind="automaticChange" @oninput="ToggleAutomaticChange"/>
                        <span class="checkmark"></span>
                    </label>
                    </a></li>
                    <li><a href="/AboutUs" id="about--us">
                        <span class="hamburger--text">ABOUT US</span>
                    </a></li>
                </ul>
            </nav>
        </div>
    <div class="@menuBg" id="menu-bg"></div>
    </div>
    <main>
        <LibraryComponent />
    </main>
    @if (isVisible)
    {
        <div class="connection--popup">
            <p>Connected to the <br />Wio Board!</p>
        </div>
    }
    
</div>

@code {
    //themeSwitch is bound to the checkbox
    //true == dark mode; false == light mode
    bool themeSwitch;

    //Variable for automatic theme change
    bool automaticChange = true;

    //Boolean for the popup
    bool isVisible = false;


    //hamburger menu state
    //true == expanded; false == hidden
    bool hamburgerMenu = false;

    string hamburgerToggle { get; set; } = "setting";
    string navToggle { get; set; } = "nav";
    string menuBg { get; set; } = "menu-bg";

    //MQTT message topic
    protected readonly string topic = "sound";

    //Instantiating Library object
    // The "?" means that songLibrary may be null
    protected Library ? songLibrary = new Library();

    //This funtion will run on page load
    protected override async Task OnInitializedAsync()
    {
        //Instantiating HttpClient to make a request
        HttpClient client = new HttpClient();

        //Reading albums and songs from .json file into a Library
        songLibrary = await HttpClient.GetFromJsonAsync<Library>("/res/albums.json");

        //Read values from the local storage (if they exist)
        if (localStorage.ContainKey("auto"))
        {
            automaticChange = localStorage.GetItem<bool>("auto");
        }

        if (localStorage.ContainKey("theme"))
        {
            themeSwitch= localStorage.GetItem<bool>("theme");
        }

        // Change the theme based on preferences
        if (automaticChange)
        {
            await UpdateAutoTheme();
        } 
        else
        {
            if (themeSwitch)
            {
                await JSRuntime.InvokeAsync<object>("eval", "document.documentElement.setAttribute('data-theme','dark')");
                themeSwitch = false;
            }
            else
            {
                await JSRuntime.InvokeAsync<object>("eval", "document.documentElement.setAttribute('data-theme','light')");
                themeSwitch = true;
            }
        }
        var mqttConnection = MqttConnection.GetInstance();
        await mqttConnection.Subscribe("boombox/connect", ShowPopup);


    }

    protected async Task ShowPopup()
    {
        isVisible = true;
        // Delay is crucial for this function to work, don't remove it
        await Task.Delay(1);
        StateHasChanged();

        await Task.Delay(3000);
        isVisible = false;
        StateHasChanged();
    }

    //Function for the checkbox
    protected async Task ChangeTheme()
    {
        Console.WriteLine(themeSwitch);
        if (themeSwitch)
        {
            await JSRuntime.InvokeAsync<object>("eval", "document.documentElement.setAttribute('data-theme','dark')");
        } else
        {
            await JSRuntime.InvokeAsync<object>("eval", "document.documentElement.setAttribute('data-theme','light')");
        }
        localStorage.SetItem("theme", themeSwitch);
        Console.WriteLine(themeSwitch);
    }

    //Function for calling a specific theme
    protected async Task ChangeTheme(string theme)
    {
        await JSRuntime.InvokeAsync<object>("eval", "document.documentElement.setAttribute('data-theme','"+ theme + "')");
        localStorage.SetItem("theme", themeSwitch);
    }

    // Method to open the Hamburger Button
    protected void ToggleHamburger()
    {
        if (hamburgerMenu == false)
        {
            hamburgerToggle = "setting change";
            menuBg = "menu-bg change-bg change";
            navToggle = "nav change";
            hamburgerMenu = true;

        }
        else if (hamburgerMenu == true)
        {
            hamburgerToggle = "setting";
            menuBg = "menu-bg";
            navToggle = "nav";
            hamburgerMenu = false;
        }
    }

    // We need this function to properly save item to the local storage
    protected async Task ToggleAutomaticChange()
    {
        if(automaticChange == false)
        {
            automaticChange = true;
            await UpdateAutoTheme();
        }
        else
        {
            automaticChange = false;
        }
        localStorage.SetItem("auto", automaticChange);
    }


    protected async Task UpdateAutoTheme()
    {
        int currentHour = DateTime.Now.Hour;

        if (currentHour >= 6 && currentHour < 20)
        {
            await ChangeTheme("light");
            themeSwitch = true;
        }
        else
        {
            await ChangeTheme("dark");
            themeSwitch = false;
        }
    }
}