html {
    font-size: 16px;
}

body {
    margin: 0;
    color: #fff;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -0.35px;
}

/* Styling the sidebar container*/
.sidebar {
    background-color: var(--darkest-color);
    padding: 24px 24px 0 24px;
    position: fixed;
    height: 100%;
    width: 230px;
    overflow-y: auto;
}

/* Sidebar scrollbar to be added*/

/* Centering boombox logo*/
.sidebar .brand {
    padding-bottom: 18px;
    display: flex;
    justify-content: center;
}

.sidebar .brand img {
    width: 131px;
}

/* Formatting sidebar text*/
.sidebar .menu .menu--item {
    font-size: 1.5rem;
    position: relative;
}

/* Adds margin between menu items (songs)*/
.sidebar .menu .menu--item:not(:first-child) {
    margin-top: 5px;
}

.sidebar .menu .menu--item a {
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    display: flex;
    align-items: center;
    height: 40px;
    transition: all 350ms;
 }

 /* creating hover effect (3 down)*/
 .sidebar .menu .menu--item a img {
    opacity: 0.7;
    transition: all 350ms;
 }

 .sidebar .menu .menu--item:hover a img {
    opacity: 1;
 }

 .sidebar .menu .menu--item.active a, .sidebar .menu .menu--item:hover a {
    color: #fff;
}

/* Active state of the menu  item, adds a background color to the element */
.sidebar .menu .menu--item.active:before {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    left: -16px; /* -(Sidebar's padding left) + 8px */
    right: -16px; /* -(Sidebar's padding left) + 8px */
    background: rgb(40, 40, 40);
    z-index: -1;
    border-radius: 5px;
 }

/* Sidebar item text formatting (songs)*/
.menu--item--text {
    font-size: 0.88rem;
    font-weight: 500;
    margin-left: 15px;
}

/* Formatting sidebar headers (section titles)*/
.sidebar--header {
    font-size: 0.68rem;
    letter-spacing: 1.5px;
    color: var(--text-color);
    margin-top: 1.5rem;
    margin-bottom: 1.3rem;
}

.sidebar .separator {
    height: 1px;
    width: 100%;
    border-top: 1px solid #303030;
    margin-top: 16px;
}

/* Add ellipsis when the text is bigger than the width of the sidebar
   Read more: https://developer.mozilla.org/en-US/docs/Web/CSS/text-overflow */
.sidebar .menu--item--text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.sidebar .sidebar--header {
    cursor: default;
}

/* Styling for header container*/
.header {
    position: fixed;
    top: 0;
    left: 230px; /* sidebar width */
    right: 0;
    height: 60px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--header-color);
}

/* Styling for theme slider (6 down)*/
.brightnessButton {
    position: fixed;
    top: 13px;
    right: 60px;
    display: inline-block;
    width: 60px;
    height: 34px;
    float: right;
}

.brightnessButton input {
    display: none;
}

.brightnessButton .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--scrollbar-color);
    border-radius: 34px;
    transition: .4s;
}

.brightnessButton .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    right: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: .4s;
}

input:checked + .slider {
    background-color: #121212;
}

input:checked + .slider:before {
    transform: translateX(-26px);
}

/* Creating the Hamburger Setting Menu */
.setting div {
    height: 4px;
    background-color: var(--title-color);
    margin: 6px 0;
    border-radius: 25px;
    transition: 0.3s;
}

.setting {
    position: fixed;
    top: -5px;
    right: 10px;
    width: 30px;
    display: block;
    margin: 1em 0 0 1em;
    cursor: pointer;
}

.line1 {
    width: 32px;
}

.line2 {
    width: 20px;
}

.line3 {
    width: 27px;
}

.setting:hover div {
    width: 32px;
}

/* This is the implementation of a setting menu */
#menu {
    z-index: 2;
}

#menu-bar {
    width: 45px;
    height: 40px;
    margin: 30px 20px 20px auto;
    cursor: pointer;
}

.nav {
    transition: 0.3s ease;
    display: none;
    padding: 50px 0 0;
}

.nav ul {
    margin: 0px;
    padding: 0 10px;
}

/* Styling of list elements*/
.nav li {
    list-style: none;
    margin-top: 10px;
}

.menu-bg, #menu {
    top: 0;
    right: 0;
    position: absolute;
}

.menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 20px 20px auto;
    background: radial-gradient(circle, var(--background-color), var(--header-color));
    border-radius: 20px;
    transition: 0.3s ease;
}

.change {
    display: block;
}

.change-bg {
    width: 400px;
    height: 150px;
    transform: translate(50%,-30%);
}

/* Styling main content area*/
body main main {
    padding: 80px 32px 32px 262px;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    background-color: var(--background-color);
}

/* Customizing scrollbar (3 down)*/
body main main::-webkit-scrollbar {
    width: 16px;
}

    body main main::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-color);
    }

body main main::-webkit-scrollbar-track {
    background-color: var(--scrollbar-bg);
}
