html {
    font-size: 16px;
}

body {
    margin: 0;
    color: #fff;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -0.35px;
}

/* Styling the sidebar container*/
.sidebar {
    background-color: var(--darkest-color);
    padding: 24px 24px 0 24px;
    position: fixed;
    height: 100%;
    width: 230px;
    overflow-y: auto;
}

    /* Sidebar scrollbar to be added*/

    /* Centering boombox logo*/
    .sidebar .brand {
        padding-bottom: 18px;
        display: flex;
        justify-content: center;
    }

        .sidebar .brand img {
            width: 131px;
        }

/* Formatting sidebar headers (section titles)*/
.sidebar--header {
    font-size: 0.68rem;
    letter-spacing: 1.5px;
    color: var(--text-color);
    margin-top: 1.5rem;
    margin-bottom: 1.3rem;
}

.sidebar .separator {
    height: 1px;
    width: 100%;
    border-top: 1px solid #303030;
    margin-top: 16px;
}

/* Add ellipsis when the text is bigger than the width of the sidebar
   Read more: https://developer.mozilla.org/en-US/docs/Web/CSS/text-overflow */
.sidebar .menu--item--text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.sidebar .sidebar--header {
    cursor: default;
}

/* Styling for header container*/
.header {
    position: fixed;
    top: 0;
    left: 230px; /* sidebar width */
    right: 0;
    height: 60px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--header-color);
}

/* Styling for theme slider (6 down)*/
/* Modified the slider button so that it actually changes theme*/
.brightnessButton {
    position: fixed;
    top: 10px;
    right: 10px;
    display: inline-block;
    width: 60px;
    height: 34px;
    float: right;
}

    .brightnessButton input {
        display: none;
    }

    .brightnessButton .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #333333;
        border-radius: 34px;
        transition: .4s;
    }

        .brightnessButton .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            right: 4px;
            bottom: 4px;
            background-color: white;
            border-radius: 50%;
            transition: .4s;
        }

input:checked + .slider {
    background-color: #333333;
}

    input:checked + .slider:before {
        transform: translateX(-26px);
    }

/* Some of the values were changed because of a new agreement to set the default mode as dark mode.*/

/* Styling for chevron button (2 down)*/
.header--button {
    background: var(--button-color);
    color: var(--text-color);
    border: 0;
    border-radius: 50%;
    height: 34px;
    width: 34px;
    cursor: pointer;
    outline: 0;
}

    .header--button.previous {
        margin-right: 0.5rem;
    }

/* Styling main content area*/
body main main {
    padding: 80px 32px 32px 262px;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    background-color: var(--background-color);
}

    /* Customizing scrollbar (3 down)*/
    body main main::-webkit-scrollbar {
        width: 16px;
    }

    body main main::-webkit-scrollbar-thumb {
        background-color: #909090;
    }

    body main main::-webkit-scrollbar-track {
        background-color: rgb(18, 18, 18);
    }





