@page "/WioBoard"
<head>
    @* <link rel="stylesheet" href="/css/site.css"/> *@
    @* You can add the css files here *@
    <!-- Imports jquery library -->
    <!-- Imports ajaxTest file under the wwwroot/js folder -->
    <link rel="stylesheet" href="css/site.css" />
</head>

<div class="center">
    <h1 class="h1-test">WioBoard</h1>
    <p><a asp-page="/Index">Go to Main Page</a></p>
</div>

<BabylonCanvas />
